* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    margin: 0;
    width: 100vw;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, white 20%, green 70%, white);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: verdana, Georgia;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    padding-bottom: 10px;
}

.heading {
    color: green;
    text-align: center;
    padding-top: 10px;
    font-size: 1.8rem;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    width: 50%;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#logo {
    display: inline-block;
    position: absolute;
    width: 70px;
    top: 20px;
    left: 20px;
}

.info-text {
    text-align: center;
    color: #000;
    font-size: 0.8rem;
    font-weight: 200;
}

.app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    justify-content: center;
    padding: 50px;
    overflow-y: auto;
    margin-top: 150px;
}

.note {
    padding: 17px;
    resize: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    height: 200px;
    color: #4e4949;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.note::placeholder {
    color: gray;
    opacity: 0.5;
}

.note:hover,
.note:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.9);
}

.btn {
    height: 200px;
    border: none;
    border-radius: 0px;
    font-size: 60px;
    font-weight: 700;
    color: #036110;
    cursor: pointer;
    background-color: #e9e1e1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    transform: scale(1.03);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    align-self: center;
    color: green;
    background: white;
    width: 100%;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#delete-all {
    width: 150px;
    height: 64px;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    border: 0;
    outline: 0;
    font-weight: bold;
    text-align: center;
    font-size: 0.7rem;
}

#delete-all:hover {
    transform: scale(0.9);
}


@media screen and (max-width: 500px) {
#delete-all {
    width: 60px;
}
body {
    overflow: hidden;
    width: 100vw;
    position: relative;
}
.app {
    overflow-x: hidden;
}
.heading {
    margin-top: 18px;
    margin-bottom: 10px;
}
}


@media screen and (max-width: 800px) {
    #delete-all {
        width: 70px;
        transition: all 0.3s ease-in-out;
        height: 62px;
        top: 17px;
    }

    .heading {
        font-size: 1.6rem;
        margin-top: 19px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 380px) {
    #delete-all {
        width: 70px;
        height: 80px;
    }

    .heading {
        width: 40%;
        margin-top: 19px;
        margin-bottom: 10px;
    }

    #logo {
        top: 33px;
    }

    body {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }
}
